.myProfileButtons,
.myCommunityButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile,
.otherContainer {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CBBAED;
    color: #CBBAED;
}

.editProfile,
#saveProfile,
.myItems,
.myBorrowed {
    margin: 10px;
}

.profileItems,
.createMyItem {
    margin: 100px;
}

.borrowedTitle {
    margin: 50px;
}

.editForm {
    margin: 50px;
}




.editProfile,
#saveProfile,
.myRSVPs,
.createMyItem {
    background: #01FDF6;
    color: black;
}

button:hover,
.myRSVPs:hover,
.editProfile:hover,
#saveProfile:hover,
.createMyItem:hover {
    background: #03FCBA;
    color: black;
}

.myBorrowed,
.myEvents,
#cancelProfile {
    background: #FB5012;
}

button:hover,
.myEvents:hover,
#cancelProfile:hover,
.myBorrowed:hover {
    background: darkred;
}

.myItems {
    background: #E9DF00;
    color: black;
}

.myItems:hover {
    background: #e9dd009f;
    color: black;
}

/* Buttons */
.blueButton {
    background: #01FDF6;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blueButton:hover {
    background: #03FCBA;
    color: black;
}

.redButton {
    background: #FB5012;
    margin-bottom: 10px;
    margin-left: 10px;
}

.redButton:hover {
    background: darkred;
}

.greenButton {
    background: #03FCBA;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.darkGreenButton {
    background: green;
    margin-bottom: 10px;
    margin-left: 10px;
}

.darkGreenButton:hover {
    background: darkgreen;
}

.greenButton:hover {
    background: #03fcba9b;
    color: black;
}

.yellowButton {
    background: #E9DF00;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.yellowButton:hover {
    background: #e9dd009f;
    color: black;
}