.myProfileButtons,
.myCommunityButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.editProfile,
#saveProfile,
.myItems,
.myBorrowed {
    margin: 10px;
}

.editProfile,
#saveProfile,
.myRSVPs,
.createMyItem {
    background: #01FDF6;
    color: black;
}

button:hover,
.myRSVPs:hover,
.editProfile:hover,
#saveProfile:hover,
.createMyItem:hover {
    background: #03FCBA;
    color: black;
}

.myBorrowed,
.myEvents,
#cancelProfile {
    background: #FB5012;
}

button:hover,
.myEvents:hover,
#cancelProfile:hover,
.myBorrowed:hover {
    background: darkred;
}

.myItems {
    background: #E9DF00;
    color: black;
}

.myItems:hover {
    background: #e9dd009f;
    color: black;
}

.profileItems,
.createMyItem {
    margin: 100px;
}

.borrowedTitle {
    margin: 50px;
}

.editForm {
    margin: 50px;
}