.detailEventCard {
    max-width: 600px;
    margin-left: 20px;
}

.eventContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.cardFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardFooterDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.eventCard {
    min-height: 350px;
    min-width: 350px;
    max-height: 500px;
    max-width: 430.8px;
    margin: 10px;
}

.rsvpContainer {
    margin-left: 20px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.eventDetailContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.rsvpDiv {
    border: 2px solid black;
    margin: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Buttons */
.blueButton {
    background: #01FDF6;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blueButton:hover {
    background: #03FCBA;
    color: black;
}

.redButton {
    background: #FB5012;
    margin-bottom: 10px;
    margin-left: 10px;
}

.redButton:hover {
    background: darkred;
}

.greenButton {
    background: #03FCBA;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.darkGreenButton {
    background: green;
    margin-bottom: 10px;
    margin-left: 10px;
}

.darkGreenButton:hover {
    background: darkgreen;
}

.greenButton:hover {
    background: #03fcba9b;
    color: black;
}

.yellowButton {
    background: #E9DF00;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.yellowButton:hover {
    background: #e9dd009f;
    color: black;
}

.grayButton {
    background: gray;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
}

.grayButton:hover {
    background: darkgray;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
}